{{/* Generación de la imagen OpenGraph */}}
    {{ $ogImage := resources.Get "opengraph.png" }}
  
    {{ if $ogImage }}
      {{ $filters := slice (
        images.Text "PGSCOM" (dict 
          "color" "#000" 
          "size" 40 
          "x" 112 
          "y" 38 
          "font" (resources.Get "opengraph-font.ttf")
        )
      ) }}
    
      {{ $ogImageWithText := $ogImage | images.Filter $filters }}
  
      <meta property="og:image" content="{{ $ogImageWithText.RelPermalink }}">
      <meta property="og:image:width" content="{{ $ogImageWithText.Width }}">
      <meta property="og:image:height" content="{{ $ogImageWithText.Height }}">
    {{ else }}
      {{/* Imagen de respaldo en caso de no encontrar opengraph.png */}}
      <meta property="og:image" content="/ruta/a/imagen-por-defecto.png">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="630">
    {{ end }}