# Workflow para construir y desplegar un sitio Hugo a Cloudflare Pages
name: Blowfish Docs Deploy

on:
  # Se ejecuta en cualquier push
  push: {}
  # Permite ejecutar manualmente este workflow desde la pestaña Actions
  workflow_dispatch:

# Se definen los permisos necesarios
permissions:
  contents: read

# Permite una concurrencia de despliegues para evitar solapamientos
concurrency:
  group: "pages"
  cancel-in-progress: true

# Configura el uso por defecto de bash
defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Hugo setup
        uses: peaceiris/actions-hugo@v2.6.0
        with:
          hugo-version: 0.151.0
          extended: true
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
        with:
          submodules: true  # Obtiene los submódulos (por ejemplo, temas de Hugo)
          fetch-depth: 0    # Obtiene todo el historial de Git

      - name: Install ImageMagick
        run: |
          sudo apt-get update
          sudo apt-get install -y imagemagick

      - name: Generate OpenGraph Background
        run: |
          chmod +x ./generate_opengraph_bg.sh
          # Usa el logo en assets/ como fuente para generar assets/opengraph.png
          ./generate_opengraph_bg.sh ./assets/logomono.png ./assets/opengraph.png

      - name: Build with Hugo
        env:
          # Variables para la producción
          HUGO_ENVIRONMENT: production
          HUGO_ENV: production
        run: |
          # Genera el sitio en la carpeta ./public
          hugo --minify -d ./public --baseURL https://blog.pgscom.es/

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: hugo-build
          path: ./public

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: hugo-build
          path: ./public
  
      - name: Deploy to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ./public --project-name=blog --branch=${{ github.ref_name }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
  